{% extends "mainbase.html" %}
{% load static %}

{% block content %}

    <section class="py-28">

        <h2 class="text-5xl font-bold mb-4 text-center">Discover AI Solutions Today</h2>

        <form method="post" enctype="multipart/form-data" class="container grid gap-5">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}" class="text-xl">Title</label>
                {{ form.title }}
            </div>

            <div class="form-group">
                <label for="{{ form.slug.id_for_label }}" class="text-xl">Slug</label>
                {{ form.slug }}
            </div>

            <div class="form-group">
                <label for="{{ form.thumbnail.id_for_label }}" class="text-xl">Thumbnail</label>
                {{ form.thumbnail }}
            </div>

            <div class="form-group">
                <label for="{{ form.body.id_for_label }}" class="text-xl">Body</label>
                {{ form.body }}
            </div>

            <button type="submit" class="bg-blue-800 rounded-lg text-white py-4 text-xl">Save</button>
        </form>
    </section>

{% endblock content %}