{% extends "mainbase.html" %}
{% load static %}
{% load thumbnail %}

{% block content %}
    <section class="container py-28">
        <h1 class="text-5xl font-bold text-left mb-8 capitalize">Blog Articles</h1>
        <div class="grid grid-cols-3 gap-10 pt-12">
            {% for blog in blogs %}
            <div class="blog-post">
                <div class="w-full h-96 pb-8">
                    {% thumbnail blog.thumbnail "300x300" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}

                </div>
                <h2 class="text-2xl font-semibold">{{ blog.title }}</h2>
                <p class="text-lg pb-4">{{ blog.body|truncatewords:30 }}</p>
                <p><strong>Created By:</strong> {{ blog.created_by.username }}</p>
                <p><strong>Published At:</strong> {{ blog.published_at }}</p>
                <a href="#">Read More</a>
                {% comment %} <a href="{% url 'blog_detail' blog.slug %}">Read More</a> {% endcomment %}
            </div>
            {% empty %}
                <p>No blog posts available.</p>
            {% endfor %}
        </div>
    </section>
{% endblock content %}
