{% extends "mainbase.html" %}
{% load static %}

{% block content %}

    {% include "pages/home/herosection.html" %}
    {% include "pages/home/unlockai.html" %}
    {% include "pages/home/introduction.html" %}
    {% include "pages/home/gallerycarousel.html" %}
    {% include "pages/home/testimonial.html" %}
    {% comment %} {% include "pages/home/pricetable.html" %} {% endcomment %}
    {% include "pages/home/faq.html" %}
    {% include "pages/home/discoverai.html" %}

{% endblock content %}