{% extends "mainbase.html" %}
{% load static %}

{% block content %}
    <section class="py-28 flex flex-col items-center justify-center container">
        <h2 class="text-4xl font-bold text-center mb-8">Messages for Ticket #{{ ticket.pk }}</h2>

        <div class="w-full">
            {% if messages %}
                <ul class="list-none">
                    {% for message in messages %}
                        <li class="mb-4 p-4 flex justify-start items-center gap-2 text-xl capitalize">
                            <p class="font-semibold {{ message.is_staff_response|yesno:'text-blue-600,text-gray-800' }}">
                                {% if message.user.is_staff %}
                                    staff:
                                {% else %}
                                {{ message.user.username }}:
                                {% endif %}
                            </p>
                            <p class="">{{ message.content|safe }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No messages found for this ticket.</p>
            {% endif %}
        </div>
        <div class="w-full flex justify-start">
            <form method="post" class="w-full">
                {% csrf_token %}
                <div class="mb-4 w-full">
                    {{ form.content|safe }}  <!-- Render the content field directly -->
                </div>
                <button type="submit" class="py-4 px-12 bg-blue-800 rounded-lg text-white text-xl mt-4">Send Message</button>
            </form>
        </div>

        <a href="{% url 'main_token' %}" class="mt-8 text-blue-500 underline">Back to My Tickets</a>
    </section>

{% endblock content %}