{% load static %}

<section id="testimonial" class="container py-20">
  <!-- Swiper -->
  <div class="swiper testimonialSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="w-2/3 text-left pl-28">
          <h3 class="text-3xl mb-5 font-medium">
            Aapplify's AI solutions are top-tier! Their innovative approach and
            fantastic customer support exceeded my expectations. Highly
            recommend Aapplify for anyone in need of advanced AI services. Thank
            you, Aapplify!
          </h3>
          <p>- Jessica</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="w-2/3 text-left pl-28">
          <h3 class="text-3xl mb-5 font-medium">
            Aapplify's AI solutions are top-tier! Their innovative approach and
            fantastic customer support exceeded my expectations. Highly
            recommend Aapplify for anyone in need of advanced AI services. Thank
            you, Aapplify!
          </h3>
          <p>- Jessica</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="w-2/3 text-left pl-28">
          <h3 class="text-3xl mb-5 font-medium">
            Aapplify's AI solutions are top-tier! Their innovative approach and
            fantastic customer support exceeded my expectations. Highly
            recommend Aapplify for anyone in need of advanced AI services. Thank
            you, Aapplify!
          </h3>
          <p>- Jessica</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="w-2/3 text-left pl-28">
          <h3 class="text-3xl mb-5 font-medium">
            Aapplify's AI solutions are top-tier! Their innovative approach and
            fantastic customer support exceeded my expectations. Highly
            recommend Aapplify for anyone in need of advanced AI services. Thank
            you, Aapplify!
          </h3>
          <p>- Jessica</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="w-2/3 text-left pl-28">
          <h3 class="text-3xl mb-5 font-medium">
            Aapplify's AI solutions are top-tier! Their innovative approach and
            fantastic customer support exceeded my expectations. Highly
            recommend Aapplify for anyone in need of advanced AI services. Thank
            you, Aapplify!
          </h3>
          <p>- Jessica</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="w-2/3 text-left pl-28">
          <h3 class="text-3xl mb-5 font-medium">
            Aapplify's AI solutions are top-tier! Their innovative approach and
            fantastic customer support exceeded my expectations. Highly
            recommend Aapplify for anyone in need of advanced AI services. Thank
            you, Aapplify!
          </h3>
          <p>- Jessica</p>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>
