{% load static %}

<section class="unlockai">
  <div class="container grid gap-8">
    <div class="w-[900px] grid gap-10">
      <h1 class="text-7xl font-bold pt-36">
        Unlock AI Potential with Aapplify in Massapequa
      </h1>
      <p class="text-3xl">
        Aapplify offers cutting-edge AI solutions to transform your business.
        Located in Massapequa, our team helps you harness the power of
        artificial intelligence to drive innovation and efficiency.
      </p>
    </div>
    <div class="rounded-md">
      <img
        src="{% static 'assets/images/heroimage.jpg' %}"
        alt="Hero Image"
        class=""
      />
    </div>
  </div>
  <div id="company" class="overflow-x-hidden flex pt-40 pb-10 gap-40">
    <div class="logo w-1/6 flex-shrink-0">
      <img class="w-full" src="{% static 'assets/images/company_logo/logo1.png' %}" alt="" />
    </div>
    <div class="logo w-1/6 flex-shrink-0">
      <img class="w-full" src="{% static 'assets/images/company_logo/logo2.png' %}" alt="" />
    </div>
    <div class="logo w-1/6 flex-shrink-0">
      <img class="w-full" src="{% static 'assets/images/company_logo/logo3.png' %}" alt="" />
    </div>
    <div class="logo w-1/6 flex-shrink-0">
      <img class="w-full" src="{% static 'assets/images/company_logo/logo4.png' %}" alt="" />
    </div>
    <div class="logo w-1/6 flex-shrink-0">
      <img class="w-full" src="{% static 'assets/images/company_logo/logo1.png' %}" alt="" />
    </div>
    <div class="logo w-1/6 flex-shrink-0">
      <img class="w-full" src="{% static 'assets/images/company_logo/logo2.png' %}" alt="" />
    </div>
    <div class="logo w-1/6 flex-shrink-0">
      <img class="w-full" src="{% static 'assets/images/company_logo/logo3.png' %}" alt="" />
    </div>
    <div class="logo w-1/6 flex-shrink-0">
      <img class="w-full" src="{% static 'assets/images/company_logo/logo4.png' %}" alt="" />
    </div>
    <div class="logo w-1/6 flex-shrink-0">
      <img class="w-full" src="{% static 'assets/images/company_logo/logo1.png' %}" alt="" />
    </div>
    <div class="logo w-1/6 flex-shrink-0">
      <img class="w-full" src="{% static 'assets/images/company_logo/logo2.png' %}" alt="" />
    </div>
    <div class="logo w-1/6 flex-shrink-0">
      <img class="w-full" src="{% static 'assets/images/company_logo/logo3.png' %}" alt="" />
    </div>
    <div class="logo w-1/6 flex-shrink-0">
      <img class="w-full" src="{% static 'assets/images/company_logo/logo4.png' %}" alt="" />
    </div>
  </div>
</section>
