{% load static %}

<section class="container grid gap-8">
        <div class="w-[900px] grid gap-10">
            <h1 class="text-7xl font-bold pt-36">Unlock AI Potential with Aapplify in Massapequa</h1>
            <p class="text-3xl">Aapplify offers cutting-edge AI solutions to transform your business. Located in Massapequa, our team helps you harness the power of artificial intelligence to drive innovation and efficiency.</p>
        </div>
        <div class="rounded-md">
            <img src="{% static 'assets/images/heroimage.jpg' %}" alt="Hero Image" class="">
        </div>
</section>