{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{% static 'css/navbar.css' %}"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/input.css' %}"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/output.css' %}"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/animation.css' %}"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/gallery.css' %}"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    {% block css %}
    {% endblock %}
    <title>Document</title>
  </head>
  <body>
    {% include "components/header.html" %}
    {% block content %} {% endblock content %}
    {% include "components/footer.html" %}

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{% static 'js/animation.js' %}" defer></script>
    <script src="{% static 'js/navmenu.js' %}" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'js/subanimation.js' %}" defer></script>
  </body>
</html>
