{% load static %}

<nav class="border-b border-primary_c sticky top-0 z-50 bg-white">
    <div class="container z-20">
        <div class="flex items-center justify-between h-24">
            <div class="flex items-center justify-center gap-20">
                <a class="logo capitalize text-2xl font-semibold" href="{% url 'main_home' %}">
                    <div class="w-32">
                        <img class="w-full" src="{% static 'assets/images/company_logo/main.png' %}" alt="">
                    </div>
                </a>
                <ul class="lg:flex hidden items-center lg:gap-8 gap-12 text-lg font-medium">
                    <li class="{% if request.resolver_match.url_name == 'main_home' %} active {% endif %}">
                        <a href="{% url 'main_home' %}" class="text-base font-medium capitalize hover:text-primary_c transition-all duration-300">home</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'main_about' %} active {% endif %}">
                        <a href="{% url 'main_about' %}" class="text-base font-medium capitalize hover:text-primary_c transition-all duration-300">about</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'main_contact' %} active {% endif %}">
                        <a href="{% url 'main_contact' %}" class="text-base font-medium capitalize hover:text-primary_c transition-all duration-300">contact</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'main_blog' %} active {% endif %}">
                        <a href="{% url 'main_blog' %}" class="text-base font-medium capitalize hover:text-primary_c transition-all duration-300">blog</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'main_services' %} active {% endif %}">
                        <a href="{% url 'main_services' %}" class="text-base font-medium capitalize hover:text-primary_c transition-all duration-300">services</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'main_faq' %} active {% endif %}">
                        <a href="{% url 'main_faq' %}" class="text-base font-medium capitalize hover:text-primary_c transition-all duration-300">FAQ</a>
                    </li>
                </ul>
            </div>
            <button id="toggleButton" type="button" class="lg:hidden block hamburger_menu">
                <img class="inline" id="openIcon" src="{% static 'assets/openmenu.svg' %}" alt="SVG Image">
                <img class="hidden" id="closeIcon" src="{% static 'assets/closemenu.svg' %}" alt="SVG Image">
            </button>
            <div class="lg:flex items-center gap-5 hidden">
            {% if user.is_authenticated %}
                <div class="flex gap-8 items-center justify-center">
                    <div class="relative inline-block text-left">
                        <div>
                          <button type="button" class="inline-flex justify-center gap-x-1.5 text-sm font-semibold text-gray-900 hover:bg-gray-50 w-10" id="menu-button" aria-expanded="true" aria-haspopup="true">
                            {% comment %} <img src="{% static 'assets/icons/profile.svg' %}" alt=""> {% endcomment %}
                            <p class="font-normal capitalize text-blue-500 underline">{{ user.username }}</p>
                          </button>
                        </div>

                        <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                          <div class="py-1" role="none">
                            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                            <a href="{% url 'main_profile' %}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-0">Profile</a>
                            <a href="{% url 'main_token' %}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-1">Tickets</a>
                            <a href="{% url 'add_blog' %}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-2">Add Blog</a>
                            <hr>
                            <a class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-3" href="{% url 'auth_logout' %}">Logout</a>
                          </div>
                        </div>
                      </div>
                </div>

                </div>
            {% else %}
                <a href="{% url 'auth_login' %}" class="border-2 border-black py-3 px-6 rounded-lg">login</a>
                <a href="{% url 'auth_register' %}" class="bg-blue-800 rounded-lg text-white py-3 px-6">Register</a>
            {% endif %}
            </div>

            <nav id="mobileMenu" class="fixed h-screen w-96 top-0 right-0 transition-all delay-100 duration-500 border-l border-black translate-x-96 bg-white">
                <button id="closeSide" type="button" class="hamburger_menu flex justify-center items-center w-full py-5">
                    <img class="border rounded-full p-1 border-black" src="{% static 'assets/closemenu.svg' %}" alt="SVG Image">
                </button>
                <ul class="py-4 px-10 grid gap-3 font-semibold text-black">
                    <li><a href="{% url 'main_home' %}">Home</a></li>
                    <li><a href="{% url 'main_home' %}">About</a></li>
                    <li><a href="{% url 'main_home' %}">Contact</a></li>
                    <li><a href="{% url 'main_home' %}">Blog</a></li>
                    <li><a href="{% url 'main_home' %}">Services</a></li>
                    <li><a href="{% url 'main_home' %}">FAQ</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'main_profile' %}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-0">Profile</a></li>
                        <li><a href="{% url 'main_token' %}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-1">Tickets</a></li>
                        <li><a href="{% url 'add_blog' %}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-2">Add Blog</a></li>
                    {% endif %}
                    <li>
                        <hr>
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                            <a class="" href="{% url 'auth_logout' %}">Logout</a>
                        {% else %}
                            <a href="{% url 'auth_login' %}" class="">login</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                        <p></p>
                        {% else %}
                        <a href="{% url 'auth_register' %}" >Register</a>
                        {% endif %}
                    </li>

                </ul>

                {% comment %} <ul class="bg-transparent py-4 px-10 capitalize grid gap-3 font-semibold text-black">
                    <li class="menu-item">
                        <a class="hover:text-primary_c transition-all duration-300 " href="{% url 'main_home' %}">home</a>
                    </li>
                    <li class="menu-item">
                        <a class="hover:text-primary_c transition-all duration-300 " href="{% url 'main_home' %}">about</a>
                    </li>
                    <li class="menu-item">
                        <a class="hover:text-primary_c transition-all duration-300 " href="{% url 'main_home' %}">contact</a>
                    </li>
                    <li class="menu-item">
                        <a class="hover:text-primary_c transition-all duration-300 " href="{% url 'main_home' %}">blog</a>
                    </li>
                    <li class="menu-item">
                        <a class="hover:text-primary_c transition-all duration-300 " href="{% url 'main_services' %}">services</a>
                    </li>
                    <li class="menu-item">
                        <a class="hover:text-primary_c transition-all duration-300 " href="{% url 'main_faq' %}">faq</a>
                    </li> {% endcomment %}
                    {% comment %} <li class="flex flex-col items-center justify-center gap-8 pt-5">
                        {% if user.is_authenticated %}
                            <a class="" href="{% url 'auth_logout' %}">Logout</a>
                        {% else %}
                            <a href="{% url 'auth_login' %}" class="underline-button-wrapper font-bold text-base mobile_menu_list">login</a>
                        {% endif %}
                    </li> {% endcomment %}
                </ul>
            </nav>
        </div>
    </div>
</nav>